/* Set smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-y: scroll;
}


.page-section {
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    text-align: center;
}
