

/*math game*/
#s8 {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
}

#question-container4 {
    margin-bottom: 20px;
}

.option4 {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.option4:hover {
    background-color: #f1f1f1;
}

#status4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

/**/



#next-question {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

#status {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: red;
    z-index: 10;
    /* Make sure it appears on top of other elements */
    transition: all 0.5s ease-in-out;
}

#maze-container {
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid #000;
    margin: 20px auto;
    background-color: #f0f0f0;
}

#player {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    top: 10px;
    left: 10px;
}

#goal {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    bottom: 10px;
    right: 10px;
}

.wall {
    position: absolute;
    background-color: #000;
}

#status {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}


#resetColoringButton {
    display: block;
    margin-top: 30px;

    margin-left: auto;
    margin-right: auto;
}

#resetButton,
#resetButtonM {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgba(0, 155, 222, 0.5);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#resetButton:hover {
    background-color: rgba(0, 155, 222, 1);
}

.memory-card {
    width: 100px;

    height: 100px;

    background-color: #f0f0f0;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: transform 0.3s ease;

}

.memory-card:hover {
    transform: scale(1.05);

}

.memory-card .card-inner {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;

}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.memory-card {
    width: 100px;
    height: 150px;
    perspective: 1000px;
}

.memory-card .front-face,
.memory-card .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.memory-card .front-face {
    transform: rotateY(180deg);
}

.memory-card.flip .front-face {
    transform: rotateY(0);
}

.memory-card.flip .back-face {
    transform: rotateY(180deg);
}

.memory-card .back-face {
    background-color: #ccc;
}



#arrow {
    position: absolute;
    top: 97.5%;
    left: 90%;
}

#arrow img {
    width: 150px;
    height: 150px;
}

/*logo fl page*/
#looggo2 {
    position: fixed;
    z-index: 3;
    top: 8%;
    left: 70%;
    width: 100px;
    height: 100px;
}

#looggo1 {
    position: fixed;
    z-index: 3;
    top: 8%;
    left: 25%;
    width: 100px;
    height: 100px;
}

#looggo1 img,
#looggo2 img {
    border: 2px outset #009BDE;
    border-radius: 50px;
    width: 100%;
    height: 100%;
}

/*hetga menu */
#menu {
    background: #0099CC;
    height: 45px;
    border-radius: 10px;
}

#menu ul,
#menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

#menu ul {
    width: 100%;
    text-align: center;
}

#menu li {
    display: inline-block;
    position: relative;
}

#menu a {
    display: block;
    line-height: 45px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}

#menu li a:hover {
    color: #009BDE;
    background: #F2F2F2;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

#menu label {
    display: none;
    line-height: 45px;
    text-align: center;
    position: absolute;
    left: 35px
}

#menu label:before {
    font-size: 1.6em;
    color: #FFFFFF;
    content: "\2261";
    margin-left: 20px;
}

#menu ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #009BDE;
    position: absolute;
    z-index: 99;
    display: none;
}

#menu ul.sub-menus li {
    display: block;
    text-align: left;
    width: 100%;
}

#menu ul.sub-menus a {
    color: #FFFFFF;
    font-size: 16px;
}

#menu li:hover ul.sub-menus {
    display: block
}

#menu ul.sub-menus a:hover {
    background: #F2F2F2;
    color: #000000;
}

@media screen and (max-width: 800px) {
    #menu {
        position: relative
    }

    #menu ul {
        background: #009BDE;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none;
        text-align: left;
    }

    #menu ul.sub-menus {
        width: 100%;
        position: static;
    }

    #menu ul.sub-menus a {
        padding-left: 30px;
    }

    #menu li {
        display: block;
        float: none;
        width: auto;
    }

    #menu input,
    #menu label {
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }

    #menu input {
        z-index: 4
    }

    #menu input:checked+label {
        color: #FFFFFF
    }

    #menu input:checked+label:before {
        content: "\00d7"
    }

    #menu input:checked~ul {
        display: block
    }
}

/*hetha l background vid */
.page-section {
    background: transparent;
    padding-top: 5%;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the video covers the entire area */
    z-index: -1;
    /* Places the video behind other content */
}

/*hetha text animation*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

svg {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    height: 100%;
}

svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #365FA0;
    font-size: 100px;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgba(54, 95, 160, 1);
    }

    80% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-width: 3;
    }

    100% {
        fill: rgba(72, 138, 204, 1);
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.wrapper {
    z-index: 2;
    background-color: hsla(0, 0%, 0%, 0.8);
    border-radius: 20px 20px;
    position: fixed;
    width: 80%;
    top: 5%;
    left: 10%;

}

#tajrba {
    z-index: -1;
    position: fixed;
    top: 5%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 90%;

    border-radius: 20px;
    border: 2px outset #009BDE;
}

body {

    margin: 0;
    padding: 0;

}

header {

    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    height: 5vh;
}


#log {
    padding: 2em;
}

#dbody {
    z-index: 1;


    position: relative;
    width: 80%;
    left: 10%;

}

h1,
h2 {
    color: rgba(0, 155, 222, 1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label,
input,
button {
    margin: 5px 0;
}

button {
    background-color: rgba(0, 155, 222, 1);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}





.content {
    display: inline-block; 
    transition: transform 0.3s ease;
}

#photoss img {
    clip-path: circle(50% at 50% 50%);
    width: 500px;
    height: 350px;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#photoss img:hover {
    animation: clipPathTransition 0.5s ease forwards;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
@keyframes clipPathTransition {
    0%{
        clip-path: circle(50% at 50% 50%);
    }
    25%{
        clip-path: circle(62.5% at 50% 50%);
    }
    50%{
        clip-path: circle(75% at 50% 50%);
    }
    75%{
        clip-path: circle(87.5% at 50% 50%);
    }
    100% {
        clip-path: circle(100% at 50% 50%);
    }
}

